
// Font sizes
$fontsize-smallest: 14pt;
$fontsize-small: 16pt;
$fontsize-regular: 20pt;
$fontsize-big: 24pt;
$fontsize-huge: 28pt;

// Colors
$color-theme: #3C7A89;
$color-error: #c3021f;
$color-success: #74a820;
$color-text: black;
$color-text-secondary: #666;
$color-text-thridary: #A2A2A2;
$primary-color: black;
$background-color: white;

$color-highlite-light: #eee;
$color-highlite-darker: #ccc;

// QuickSand
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap&subset=latin-ext');

html, body {
    font-family: 'QuickSand', 'sans-serif';
    font-size: $fontsize-regular;
    color: $color-text;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
}

h1 {
    font-size: $fontsize-huge;
    color: $color-theme;
}