
@import "base";

/* Customize the label (the container) */
.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: $fontsize-small;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 40, 0, 40, 0;

    /* Hide the browser's default checkbox */
    & > input {
        position: relative;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
        background-color: $color-highlite-darker;
    }

    /* When the checkbox is checked, add a blue background */
    & > input:checked ~ .checkmark {
        background-color: $color-theme;

        /* Show the checkmark when checked */
        &::after {
            display: block;
        }
    }

    /* Style the checkmark/indicator */
    & > .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid $background-color;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $color-highlite-light;

    /* Create the checkmark/indicator (hidden when not checked) */
    &::after {
        content: "";
        position: absolute;
        display: none;
    }
}