
@import "base";

/* Customize the label (the radio-container) */
.radio-container {
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: $fontsize-small;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide the browser's default radio button */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        /* When the radio button is checked, add a blue background */
        &:checked ~ .radio-checkmark {
            background-color: $color-theme;  
            color: $background-color;          
        }
    }

    @media (min-width: 1281px) {
        &:hover input ~ .radio-checkmark {
            background-color: $color-highlite-darker;
        }
    }    
}
  
/* Create a custom radio button */
.radio-checkmark {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    background-color: $background-color;
    border-radius: 4px;

    span {
        padding: 15px;
        cursor: pointer;
    }
}

.correct-prefix-choice ~ .radio-checkmark {
    background-color: $color-success !important;
    color: $background-color !important;
}


.wrong-prefix-choice ~ .radio-checkmark {
    background-color: $color-error !important;
    color: $background-color !important;
}