
@import "base";
@import "checkbox";
@import "radiobutton";
@import "animatedRadiobutton";

body {
    color: $primary-color;
    background-color: $background-color;
    padding: 10px;
}

// Style the header text (WordsQ)
.header-text {
    position: relative;
    margin: 50, 20, 50, 20;
}

// Inner container which is used to organize parts of the website
.inner-container {
    position: relative;
    display: block;
    padding: 20px;
    max-width: 80%;
}

.main-container {
    width: 100%;
    height: 100%;

}

// makes the text styled as secondary
.secondary-info {
    display: block;
    color: $color-text-secondary;
    font-size: $fontsize-small;
}

.highlite-container {
    margin-left: -33.33%;
    padding-left: 33.33%;
    margin-right: -33.33%;
    padding-right: 33.33%;
    background-color: $color-highlite-light;
}

input[type=text], input[type=number], input[type=button], select {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $color-highlite-darker;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: $background-color;
    min-width: 6em;
}

input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

input {
    font-family: 'QuickSand', 'sans-serif' !important;
    font-size: $fontsize-smallest;
}

.submit-button {
    font-size: $fontsize-small;
    color: $background-color;
    background-color: $color-success !important;
    cursor: pointer;
}
